<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="https://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Kinkao Restaurant Service Website</title>
            <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
            <script th:src="@{/js/bootstrap.min.js}"></script>
        </head>
<body>
<div class="container">
    <h1 class="display-6">Add Restaurant</h1>

    <form th:object="${order}" th:action="@{/order/edit}" method="POST">
        <input type="hidden" th:field="*{order_Id}" id="order_Id">
        <div class="mb-3">
            <label for="dateInput" class="form-label">Date</label>
            <input id="dateInput" type="text" class="form-control" name="date" th:field="*{date}">
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input id="nameInput" type="text" class="form-control" name="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="mobileInput" class="form-label">Phone</label>
            <input id="mobileInput" type="text" class="form-control" name="mobile" th:field="*{mobile}">
        </div>
        <div class="mb-3">
            <label for="addressInput" class="form-label">Address</label>
            <input id="addressInput" type="text" class="form-control" name="address" th:field="*{address}">
        </div>
        <div class="mb-3">
            <label for="vegetableInput" class="form-label">Vegetable</label>
            <input id="vegetableInput" type="text" class="form-control" name="vegetable" th:field="*{vegetable}">
        </div>
        <div class="mb-3">
            <label for="amountInput" class="form-label">Amount</label>
            <input id="amountInput" type="text" class="form-control" name="amount" th:field="*{amount}">
        </div>
        <div class="mb-3">
            <label for="weightInput" class="form-label">Weight</label>
            <input id="weightInput" type="text" class="form-control" name="weight" th:field="*{weight}">
        </div>
        <div class="mb-3">
            <label for="priceInput" class="form-label">Price</label>
            <input id="priceInput" type="text" class="form-control" name="price" th:field="*{price}">
        </div>
        <div class="mb-3">
            <label for="statusInput" class="form-label">Status</label>
            <input id="statusInput" type="text" class="form-control" name="status" th:field="*{status}">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>