<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kinkao Restaurant Service Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/myScript.js}"></script>

</head>

<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h1 class="display-6">User register</h1>

    <form th:action="@{/user/add}" method="POST">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input id="nameInput" type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input id="usernameInput" type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input id="passwordInput" type="text" class="form-control" name="password">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input id="emailInput" type="text" class="form-control" name="email">
        </div>
<!--        <div class="mb-3" style="width:0px;height:0px;">-->
<!--            <label for="history_idInput" class="form-label"></label>-->
<!--            <input id="history_idInput" disabled type="hidden" class="form-control" name="history_id" value = "">-->
<!--        </div>-->
<!--        <div class="mb-3" style="width:0px;height:0px;">-->
<!--            <label for="roleInput" class="form-label"></label>-->
<!--            <input id="roleInput" disabled type="hidden" class="form-control" name="role" value = "User">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary" onclick = createId()>Add</button>
    </form>
</div>
</body>
</html>